#centerDiv{
    background-color: lightblue;
    margin: 0 auto;
    width:960px;
    text-align: center;
    padding: 2em;
}

label{
    font-size: 1.5em;
    margin: 1em 0.5em;
    display: inline-block;
}

#postAuction{
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
}

#messageArea{
    color: blue;
    font-size: 1em;
    font-weight: bold;
    padding: 0.5em;
}

#itemDesc{
    padding: 1em;
}

#displayTable{
    border: 1px solid black;
}
#displayTable tr td{
    border: 1px solid black;
    margin:1em;
    padding:1em;
}
#bidForm{
    text-align: center;
    font-size: 1.5em;
    padding:0.3em;
    margin:0.3em;
}