{% extends "master.html.twig" %}

{% block title %}Edit Profile{% endblock %}

{% block content %}
    {% if v %}
    <div class="container">
        <form method="POST">
            <div class="row mt-2"><div class="col-2">{{ messages['first'] }}</div><div class="col-8"><input type="text" name ="firstname" value={{v.firstname}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['last'] }}</div><div class="col-8"><input type="text" name ="lastname" value={{v.lastname}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['phone'] }}</div><div class="col-8"><input type="text" name ="phone" value={{v.phonenumber}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['lisence'] }}</div><div class="col-8"><input type="text" name ="license" value={{v.driversliscencenum}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['company'] }}</div><div class="col-8"><input type="text" name ="company" value={{v.companyname}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['email'] }}</div><div class="col-8"><input type="text" name ="email" value={{v.email}}></div></div>
            <div class="row mt-2"><div class="col-2"></div><div class="col-8"><input type="submit" value="{{ messages['update'] }}"></div></div>
        </form>
    </div>
    {% endif %}

    {% if errorList %}
    <div class="container">
        <ul class="errorMessage">
            {% for error in errorList %}
                <li class="row">{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
{% endblock %}
