{% extends "master.html.twig" %}

{% block title %} Register {% endblock %}

{% block content %}
    {% if v %}
    <div class="container">
        <form method="POST">
            <div class="row mt-2"><div class="col-2">{{ messages['first'] }}</div><div class="col-8"><input type="text" name ="firstname" value={{v.firstname}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['last'] }}</div><div class="col-8"><input type="text" name ="lastname" value={{v.lastname}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['birth'] }}</div><div class="col-8"><input type="text" name ="birth" value={{v.dateofbirth}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['phone'] }}</div><div class="col-8"><input type="text" name ="phone" value={{v.phonenumber}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['lisence'] }}</div><div class="col-8"><input type="text" name ="license" value={{v.driversliscencenum}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['company'] }}</div><div class="col-8"><input type="text" name ="company" value={{v.companyname}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['email'] }}</div><div class="col-8"><input type="text" name ="email" value={{v.email}}></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['password'] }}</div><div class="col-8"><input type="password" name ="password"></div></div>
            <div class="row mt-2">
                <div class="col-2">{{ messages['mailing'] }}</div>
                <div class="col-8">
                    <input type="radio" value="yes" name ="mailinglist" checked>{{ messages['mailingyes'] }}
                    <input type="radio" value="no" name ="mailinglist">{{ messages['mailingno'] }}
                </div>
            </div>
            <div class="row mt-2"><div class="col-2"></div><div class="col-8"><input type="submit" value="{{ messages['submit'] }}"></div></div>
        </form>
    </div>
    {% else %}
    <div class="container">
        <form method="POST">
            <div class="row mt-2"><div class="col-2">{{ messages['first'] }}</div><div class="col-8"><input type="text" name ="firstname"></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['last'] }}</div><div class="col-8"><input type="text" name ="lastname"></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['birth'] }}</div><div class="col-8"><input type="text" name ="birth"></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['phone'] }}</div><div class="col-8"><input type="text" name ="phone"></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['lisence'] }}</div><div class="col-8"><input type="text" name ="license"></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['company'] }}</div><div class="col-8"><input type="text" name ="company"></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['email'] }}</div><div class="col-8"><input type="text" name ="email"></div></div>
            <div class="row mt-2"><div class="col-2">{{ messages['password'] }}</div><div class="col-8"><input type="password" name ="password"></div></div>
            <div class="row mt-2">
                <div class="col-2">{{ messages['mailing'] }}</div>
                <div class="col-8">
                    <input type="radio" value="yes" name ="mailinglist" checked>{{ messages['mailingyes'] }}
                    <input type="radio" value="no" name ="mailinglist">{{ messages['mailingno'] }}
                </div>
            </div>
            <div class="row mt-2"><div class="col-2"></div><div class="col-8"><input type="submit" value="{{ messages['submit'] }}"></div></div>
        </form>
    </div>
    {% endif %}
    
    {% if errorList %}
    <div class="container">
        <ul class="errorMessage">
            {% for error in errorList %}
                <li class="row">{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
<!-- code by Edwin Li -->
{% endblock %}
<<<<<<< HEAD

=======
>>>>>>> 9562d7acf6aa24c87b892ab7c6bcac17613ce784
