{% extends "master.html.twig" %}
{% block body %}
    
    <h1>Successfully added shout</h1>
    <h2><a href="/shouts/list">see shouts now</a> or <a href="/shouts/add">add another</a></h2>

{% endblock %}