{% extends "master.html.twig" %}
{% block body %}
    {% if userSession %}
    <h1>Add a shout</h1>
    <h2>enter shout message below:</h2>
    <form method="post">
        <textarea name="message" id="mes" cols="100" rows="10">{{message}}</textarea><br><br>
        <input type="submit" value="post shout">
    </form>
    {% else %}
        <h2>Only registered users can post shouts please use above links to sign in or register</h2>
    {% endif %}
    {% if errorList %}
        <ul class="lists">
            {% for error in errorList %}
                <li> {{error}} </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}

