{% extends "master.html.twig" %}
{% block body %}
    
    <h1>Home Page</h1>
    {% if userSession %}
        <h2><a href="/shouts/list">See all shouts</a></h2>
        <h2><a href="/shouts/add">Add a shout</a></h2>
    {% else %}    
    <h2><a href="/shouts/list">See all shouts</a></h2>
        <h2><a href="/login">Login first to add shouts</a></h2>
    {% endif  %}

    

{% endblock %}