{% extends "master.html.twig" %}
{% block body %}
    
    <h1>Login</h1>
    {% if userSession.user %}
        <h2><a href="/">already logged in go to main page</a></h2>
    {% else %}    
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" ><br><br>
        <label for="password">Password:</label>
        <input type="text" name="password" ><br><br>
        <input type="submit" value="login">
    </form>  
    <h1>{{m.name}}</h1>
    <h1>{{m.password}}</h1>
    {% endif  %}
    {% if errorList %}
        <h1>Incorrct email or password please try again</h1>
    {% endif %}

{% endblock %}