<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body{
            background-color: lightblue;
            margin: 0 auto;
            padding: 0 auto;
            text-align:center;
            width: 960px;
        }
        .shoutBox{
            background-color: lightcyan;
            padding: 3em;
            margin: 2em;
            font-size: 1.1em;
            text-align: justify;
        }
        .lists{
            list-style: none;
        }
    </style>
    <title>{% block tile %}{% endblock %}</title>
    {% block head %}{% endblock %}
</head>
<body>
    {% block header %}
        {% if userSession %}
            <h3>You are logged in as {{userSession.username}}   <a href="/logout">logout?</a></h3>
        {% else %}
        <h3><a href="/login">Please sign in</a> or <a href="/register">Register</a> to take part in shouts</h3>
        {% endif %}
    {% endblock %}
    {% block body %}{% endblock %}
</body>
</html>


