{% extends "master.html.twig" %}
{% block body %}
    <br><br>
    <form method="post">
        <label for="username">Username:</label>
        <input type="text" name="username" value="{{name}}"><br><br>
        <label for="password">Password:</label>
        <input type="text" name="password"><br><br>
        <input type="submit" value="Register">
    </form>  
    {% if errorList %}
        <ul class="lists">
            {% for error in errorList %}
                <li> {{error}} </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock %}