{% extends "master.html.twig" %}
{% block body %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('select').on('change', function() {
                var user = $(this.value);
                $("#userpost").load("/ajax/loadshouts/" + user);
            });

            $(document).ajaxError(function(event, jqxhr, settings, thrownError) {
                console.log("Ajax error occured on " + settings.url);
                alert("Ajax error occured");
            });

        });
    </script>
    {% if userSession %}
        <h2><a href="/shouts/add">add your own shout!</a></h2>
    {% endif %}
    <h1>All shouts</h1>
    
    <form method="get">
        <select name="users" id="userPicked">
            <option value="">Please select a user</option>
            {% for u in usersOnly %}
            <option value="{{u.id}}">{{u.username}}</option>
            {% endfor %}
        </select>
        <input type="submit" value="select">
    </form>
    <span id="userpost"></span>
    {% for s in shouts %}
    <div class="shoutBox">
        <h2>Shout #{{s.id}} posted by {{s.username}}</h2>
        <p>{{s.message}}</p>
    </div>
    {% endfor %}

{% endblock %}

